<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: 'Pretendard', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: #1c1b1a;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
        }

        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.75rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.25rem;
        }

        h6 {
            font-size: 1rem;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
<div style="margin: 20px auto">
    <div
            style="
          width: 100%;
          max-width: 595px;
          box-shadow: 0 0 12px rgba(170, 170, 170, 0.2);
        "
    >
        <div
                style="
            background-color: #f48096;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
            <p style="font-size: 30px; color: #ffffff; font-weight: 700">
                LIKELION
            </p>
            <p
                    style="
              font-size: 18px;
              margin-left: 10px;
              color: #ffffff;
              font-weight: 400;
            "
            >
                MJU 12th
            </p>
        </div>

        <div
                style="margin: 0 auto; padding: 80px 14px 30px; text-align: center"
        >
            <div style="font-size: 14px; line-height: 22px; margin-bottom: 28px">
                <p>안녕하세요.</p>
                <p>멋쟁이사자처럼 명지대(자연) 12기 운영진입니다.</p>
                <p>이번 멋쟁이사자처럼 명지대(자연) 12기에</p>
                <p>관심을 가지고 지원해주셔서 정말 감사합니다.</p>
                <p>
                    여러분들이 제출해 주신 자료들은 저희 운영진들 간 꼼꼼히
                    검토하였으며,
                </p>
                <p>이에 따라 1차 합격 여부를 결정하였습니다.</p>
            </div>
            <div style="font-size: 14px; line-height: 22px; margin-bottom: 8px">
                <p
                        style="font-size: 16px; font-weight: 500; display: inline-block"
                        th:text="${name}"
                ></p>
                <p style="display: inline-block">
                    님은 이번 멋쟁이사자처럼 명지대(자연) 12기
                </p>
            </div>
            <div
                    style="
              color: #547aff;
              font-size: 18px;
              font-weight: 700;
              line-height: 22px;
              margin-bottom: 10px;
            "
            >
                <p>1차 전형에 합격하셨습니다. 축하드립니다!</p>
            </div>
            <div style="font-size: 14px; line-height: 22px">
                <p>1차 합격자분들의 면접 순서를 정하기 위해서</p>
                <p style="color: #ff872d">
                    3월 9일 오후 2시까지
                    <span style="font-weight: 800">"확인했습니다"</span>라고
                    <a href="mailto:mju@likelion.org" style="color: #ff872d"
                    >mju@likelion.org</a
                    >
                    로 전송 부탁드립니다.
                </p>

                <p>
                    불가능한 시간대가 있다면, 해당 시간을
                    <span style="color: #547aff; font-weight: 800">반드시</span> 함께
                    발송해 주세요.
                </p>
                <p style="color: #aaa; font-size: 12px; line-height: 20px">
                    회신해주신 시간대를 제외하고 랜덤으로 배정될 예정입니다.
                </p>
                <br/>
            </div>

            <hr
                    style="
              border: 1px solid #e6e6e6;
              margin-top: 50px;
              margin-bottom: 50px;
            "
            />

            <div
                    style="
              color: #aaa;
              font-size: 18px;
              font-weight: 700;
              line-height: 22px;
              margin-bottom: 28px;
            "
            >
                <p>면접 상세 안내</p>
            </div>
            <div
                    style="
              color: #2f2f2f;
              font-size: 12px;
              font-weight: 500;
              line-height: 22px;
            "
            >
                <p style="color: #aaa; font-weight: 700">일정</p>
                <p style="font-size: 14px">
                    3월 10일 (10:00 ~ 20:00)<br/>3월 11일 ~ 3월 12일 (17:00 ~ 21:00)
                </p>
                <p style="color: #aaa">
                    - 10일 12~13시는 점심시간으로 제외합니다 -
                </p>
                <br/>

                <p style="color: #aaa; font-weight: 700">진행 방식</p>
                <p style="font-size: 14px">대면 면접(약 20분)</p>
                <br/>

                <p style="color: #aaa; font-weight: 700">진행 장소</p>
                <p style="font-size: 14px">면접 시간 확정 메일에 추가 공지</p>
                <br/>
            </div>

            <hr
                    style="
              border: 1px solid #e6e6e6;
              margin-top: 50px;
              margin-bottom: 50px;
            "
            />

            <div style="font-size: 14px; line-height: 22px; margin-bottom: 90px">
                <p>면접은 지원자님께서 제출해 주신 자료와</p>
                <p>파트에 관련하여 준비해주시면 될 것 같습니다 :)</p>
                <p>너무 긴장하지 마시고, 지원자분의 열정을 보여주세요!</p>
                <p>면접날 뵙도록 하겠습니다.</p>
                <p>감사합니다.</p>
            </div>

            <div
                    style="
              color: #aaa;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
            "
            >
                <p>멋쟁이사자처럼 명지대(자연) 12기 운영진 드림</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>